.auth {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    margin: 0;
    font-size: 22px;
    font-weight: normal;
  }

  &__wrapper {
    width: 500px;
  }

  &__tab-wrapper {
    display: flex;
  }

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;

    text-align: center;

    background-color: #fdfdfd;
    border: 1px solid #eeeeee;

    &--travel {
      width: 100%;
    }

    &--active {
      color: #fdfdfd;

      background-color: #102d6d;
      border: 1px solid #102d6d;
      outline: 1px solid #102d6d;

      pointer-events: none;
    }
  }

  &__tab:hover {
    color: #ffffff;

    background-color: #102d6d;
    border: 1px solid #102d6d;
    cursor: pointer;
  }

  &__form-wrapper {
    &--hidden {
      display: none;
    }

    &--show {
      display: block;
    }
  }

  &__form {
    width: 500px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;

    background-color: #fdfdfd;
    border: 1px solid #eeeeee;
    border-top: 3px solid #da251c;
  }

  &__login-social {
    display: none;
  }
}

@media (max-width: 500px) {
  .auth {
    &__wrapper {
      padding: 0 10px;
      width: 100%;
    }

    &__form {
      width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .auth {
    & > p {
      padding: 0 20px;
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  .auth {
    &__tab {
      width: 100%;
    }
  }
}
