.form {
  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  &__header-wrapper p {
    margin: 0;
    padding-bottom: 8px;
    color: #0c2969;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 15px;

    &--currency {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-bottom: 15px;

      & p {
        padding-bottom: 3px;
        margin: 0 25px 0 0;
        font-size: 14px;
      }

      & label {
        margin: 0 15px 0 5px;
        font-size: 14px;
        text-transform: uppercase;
      }

      & label:last-of-type {
        margin: 0 0 0 5px;
      }
    }

    &--terms {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-bottom: 15px;

      & label {
        padding-bottom: 3px;
        margin: 0 0 0 10px;

        & a {
          text-decoration: underline;
          font-size: 14px;
        }
      }
    }

    & label {
      display: block;
      margin-top: 5px;
      margin-bottom: 10px;
      padding-left: 10px;
      font-size: 14px;
    }

    & input[type="radio"] {
      margin: 0;
      width: 15px;
    }

    & input[type="checkbox"] {
      margin: 0;
      width: 15px;
    }

    &--captcha {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0;
    }

    & input {
      width: 100%;
      padding: 7px 0 7px 10px;

      border: 1px solid #eeeeee;
    }

    input:hover,
    input:focus {
      border: 1px solid #102d6d;
    }
  }

  &__error {
    padding-left: 10px;
    font-size: 13px;
    color: red;

    &--hidden {
      display: none;
    }
  }

  &__submit-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__submit-wrapper a {
    padding-bottom: 8px;
    font-size: 12px;

    text-decoration: underline;
  }

  &__submit {
    padding: 8px 19px;
    margin-left: 15px;

    color: #fdfdfd;
    font-size: 16px;

    border: none;
    background-color: #102d6d;

    cursor: pointer;
  }

  &__captcha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    margin-right: 20px;
  }

  &__captcha p {
    display: inline-block;
    color: #0c2969;
  }

  &__captcha input {
    width: 100%;
    padding: 7px 0 7px 10px;
  }
}

@media (max-width: 450px) {
  .form {
    &__item:last-of-type {
      flex-direction: column;
      justify-content: space-between;
    }

    &__captcha {
      margin-bottom: 10px;
    }

    &__item input {
      padding: 15px 0 15px 10px;
    }

    &__captcha input {
      padding: 15px 0 15px 10px;
    }
  }
}

@media (max-width: 380px) {
  .form {
    &__submit {
      margin-left: auto;
    }

    &__item {
      // &--currency {
      //   & p {
      //   }
      // }

      &--terms {
        & label {
          margin: 0 0 0 15px;

          & a {
            text-decoration: underline;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .form {
    &__item {
      &--currency {
        & p {
          margin: 0 9px 0 0;
        }
      }
    }
  }
}
